langchain==0.3.25
langgraph==0.2.73
langchain-google-genai
langchain-openai
pydantic==2.10.6
fastapi==0.115.6
uvicorn==0.34.0
pandas==2.2.3
scipy
python-multipart
matplotlib
seaborn
python-dotenv
nbformat